body {
    font-family: Arial;
    padding: 30px;
}

input {
    width: 250px;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #777;
}

button {
    padding: 8px 15px;
}

.error {
    color: red;
    font-size: 14px;
}
